html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-flow: column;
    background-color: #0D0D0D;
}

#title-section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #0D0D0D;
    height: 100vh;
    text-align: center;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#title-section-content {
    padding: 0 0 200px 0;
}

h1{
    margin: 0;
    font-family: 'Cinzel', serif;
    font-size: 75px;
    color: black;
}

h3 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 30px;
}

#play-button {
    position: absolute;
    height: 50px;
    width: 150px;
    bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: transparent;
    color: rgb(193,193,193,.5);;
    border-color: rgb(193,193,193,.5);
    border-width: 1.5px;
    text-align: center;
    font-size: 1.3em;
    font-family: 'IM Fell DW Pica SC', serif;
    cursor: pointer;
    min-width: 150px;
    max-width: 250px;
}

#play-button:hover {
    background-color: rgb(193,193,193,.25);
    color: white;
    border-color: white;
}

#game-section {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 10px 0 10px;
    background-color: #0D0D0D;
    min-height: 100vh;
    max-width: 1100px;
}

#card-grid {
    display: grid;
    background-color: #0D0D0D;
    grid-gap: 10px;
}

.card-container {
    position: relative;
    width: 125px;
    height: 210px;
    border-radius: 5px;
    transition: transform .75s;
    /* this positions the cards in 3D space created in the parent */
    transform-style: preserve-3d;
    /* perspective applies on the children of the element 
       it also applies a 3D effect. how far away the object
       from the user */
    perspective: 1500px;
}

.card-container:hover{
    box-shadow: 0 14px 28px rgba(225,225,225,0.25), 0 10px 10px rgba(225,225,225,225,.22);
    cursor: pointer;
}

.card-back-side, .card-front-side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-container.flip {
    transform: rotateY(-180deg);
}

.flipped {
    display: none;
}

footer {
    display: grid;
    padding: 10px 10px 0 0;
    grid-template-columns: 2fr 3fr;
}

#score {
    color: white;
    font-size: 25px;
    font-family: 'IM Fell DW Pica SC', serif;
    width: 50%;
}

#reset-button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 1px;
    text-align: center;
    font-size: 20px;
    font-family: 'IM Fell DW Pica SC', serif;
    cursor: pointer;
    min-width: 150px;
    max-width: 250px;
}

#reset-button:hover {
    background-color:rgb(255, 15, 15, .25);
}

@media (min-width: 400px) {
    #card-grid {
        grid-template-columns: repeat(3, minmax(115px, 1fr));
    }
}

@media (min-width: 500px) {
    #card-grid {
        grid-template-columns: repeat(4, minmax(115px, 1fr));
    }
}

@media (min-width: 750px) {
    #card-grid {
        grid-template-columns: repeat(6, minmax(115px, 1fr));
    }
}

@media (min-width: 1010px) {
    #card-grid {
        grid-template-columns: repeat(8, minmax(115px, 1fr));
        max-height: 100vh;
    }
}

