html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-flow: column;
    background-color: #0D0D0D;
}

#title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 100vh;
    text-align: center;
    background-image: url("https://i.imgur.com/jk88jJ7.jpg");
    background-repeat: no-repeat;
    background-size: 100vmax;
}

#title-section-content {
    
}

h1{
    margin: 0;
    font-family: 'Cinzel', serif;
    font-size: 75px;
    /* font-family: 'Cinzel', serif;
font-family: 'IM Fell DW Pica SC', serif; */
}

h3 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 30px;
}

#play-button {
    background-color: yellow;
}

#game-section {
    display: grid;
    align-self: center;
    justify-self: center;
    padding: 10px 0 10px;
    background-color: #0D0D0D;
    min-height: 100vh;
    max-width: 1100px;
}

#card-grid {
    display: grid;
    background-color: #0D0D0D;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 10px;
}

.card-container {
    position: relative;
    width: 125px;
    height: 210px;
    border-radius: 5px;
    transition: transform 1s;
    /* this positions the cards in 3D space created in the parent */
    transform-style: preserve-3d;
    /* perspective applies on the children of the element 
       it also applies a 3D effect. how far away the object
       from the user */
    perspective: 1500px;
}

.card-back-side, .card-front-side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-container.flip {
    transform: rotateY(180deg);
}

.card-back-side {
    /* backface-visibility: hidden; */
    /* z-index: 1; */
}

.flipped {
    display: none;
}

#score {
    color: white;
}

@media (min-width: 400px) {
    #card-grid {
        grid-template-columns: repeat(3, minmax(115px, 1fr));
    }
}

@media (min-width: 500px) {
    #card-grid {
        grid-template-columns: repeat(4, minmax(115px, 1fr));
    }
}

@media (min-width: 750px) {
    #card-grid {
        grid-template-columns: repeat(6, minmax(115px, 1fr));
    }
}

@media (min-width: 1010px) {
    #card-grid {
        grid-template-columns: repeat(8, minmax(115px, 1fr));
        max-height: 100vh;
    }
}

